<!DOCTYPE html>
<html>
  <%- include('../partials/header'); %>

  <body>
    <%- include('../partials/navbar'); %>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-5 mb-3">
        <h3 class="mb-0"><%= title %></h3>
        <%- include('./partials/top'); %>
      </div>

      <form id="submissionForm">
        <input id="submissionId" type="hidden" value="<%= submission.id %>" />
        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Learner ID:</label>
            <input id="learnerId" class="form-control" type="number" min="0" value="<%= submission.learner_id %>" required />
          </div>
          <div class="col">
            <label class="form-label">Assignment ID:</label>
            <input id="assignmentId" class="form-control" type="number" min="0" value="<%= submission.assignment_id %>" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="form-label">Submission Date:</label>
            <input id="submissionDate" class="form-control" type="date" value="<%= submission.submission.submitted_at %>" required />
          </div>
          <div class="col">
            <label class="form-label">Submission Score:</label>
            <input id="submissionScore" class="form-control" type="number" min="0" value="<%= submission.submission.score %>" required />
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-secondary" href="/submissions">Cancel</a>
        <%- include('./submitform'); %>
      </form>
    </div>
  </body>
</html>
