<!DOCTYPE html>
<html>
  <%- include('./partials/header'); %>

  <body>
    <%- include('./partials/navbar'); %>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-5 mb-3">
        <h3 class="mb-0">Submissions List</h3>
        <%- include('./partials/submissions/top'); %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Learner ID</th>
            <th>Assignment ID</th>
            <th>Submitted at</th>
            <th>Score</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% submissions.forEach(function(submission) { %>
          <tr>
            <td><%= submission.learner_id %></td>
            <td><%= submission.assignment_id %></td>
            <td><%= submission.submission.submitted_at %></td>
            <td><%= submission.submission.score %></td>
            <td>
              <button class="btn btn-sm btn-danger mx-1" onclick="">Delete</button>
              <button class="btn btn-sm btn-secondary mx-1" href="<%= submission.id %>/edit">Edit</button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
