<!DOCTYPE html>
<html>
  <%- include('./partials/header'); %>

  <body>
    <%- include('./partials/navbar'); %>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-5 mb-3">
        <h3 class="mb-0"><%= title %></h3>
        <%- include('./submissions/partials/top'); %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Learner ID</th>
            <th>Assignment ID</th>
            <th>Submitted at</th>
            <th>Score</th>
            <th>Actions</th>
          </tr>
          <tr>
            <form id="filterForm">
              <th>
                <input type="number" class="form-control" id="filterLearnerId" name="learnerId" placeholder="Filter by Learner ID" value="<%= filter.learnerId %>"/>
              </th>
              <th>
                <input type="number" class="form-control" id="filterAssignmentId" name="assignmentId" placeholder="Filter by Assignment ID" value="<%= filter.assignmentId %>" />
              </th>
              <th></th>
              <th></th>
              <th>
                <button class="btn btn-sm btn-primary mx-1 w-50" type="submit">Apply</button>
                <a class="btn btn-sm btn-light mx-1 w-50" type="reset" href="/submissions">Reset</a>
              </th>
            </form>
          </tr>
        </thead>
        <tbody>
          <% submissions.forEach(function(submission) { %>
          <tr>
            <td><%= submission.learner_id %></td>
            <td><%= submission.assignment_id %></td>
            <td><%= submission.submission.submitted_at %></td>
            <td><%= submission.submission.score %></td>
            <td>
              <button class="btn btn-sm btn-danger mx-1 w-50" data-id="<%= submission.id %>" role="delete">Delete</button>
              <a class="btn btn-sm btn-secondary mx-1 w-50" href="submissions/<%= submission.id %>" role="edit">Edit</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <%- include('./submissions/partials/actions'); %>
  </body>
</html>
